/* Estilos generales para todos los elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo (body) de la página */
body {
    background-color: rgb(61, 56, 56);
    font-family: 'Share Tech', sans-serif;
    color: #ffffff;
}

/* Estilos para el elemento center (centrado) */
center {
    text-align: center;
}

/* Estilos para los encabezados h1 */
h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

/* Estilos para el formulario (form) */
form {
    width: 400px;
    padding: 16px;
    border-radius: 10px;
    margin: 40px auto 0 auto;
    background-color: white;
    font-family: 'Share Tech', sans-serif;
}

/* Estilos para las etiquetas (labels) del formulario */
form label {
    width: 500px;
    font-weight: bold;
    display: inline-block;
    color: #000000;
}

/* Estilos para los campos de entrada de texto y números del formulario */
form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: #000000;
}

/* Estilos para los select (menús desplegables) del formulario */
form select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: #000000;
}

/* Estilos para el botón "Editar Integrante Respetable" */
form input.editar {
    width: 200px;
    padding: 10px;
    margin-top: 16px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

/* Estilos para el botón "Editar Integrante Respetable" cuando el mouse está sobre él */
form input.editar:hover {
    background-color: white;
    color: #000000;
}
